

                                    /* Google fonts link*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zeyada&display=swap');






*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



                                                                    /* Navigation bar */



.main{
    width: 100%;
    height: 100vh;

}

.nav{
    width: 100%;
    height: 120px;
    background-color: #30303b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    right: 150px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    list-style: none;
}
ul li{
    margin: 10px 35px;
}
ul li a{
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
    font-size: 15px;
    color: white;
    transition: all .2s ease;
}
ul li a:hover{
    color:  #c1bfbb;
    font-size: 14px;
}


.nav label{
    font-size: 32px;
    color: #ffff;
    cursor: pointer;
}

label{
    position: relative;
    margin-right: 30px;
}

label .menu_btn,
label .close_btn{
    display: none;
}

#click{
    display: none;
}





                                                /* Logo */


.logo{
    color: white;
    font-family: "Poiret One", sans-serif;
    font-size: 40px;
    position: relative;
    left: 170px;
}






                                                /* Main info */
.main_info{
    bottom: 20px;
    width: 90%;
    height: 600px;
    position: relative;
    left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}



                                                 /* Profile image */
.pro_img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: #30303b solid 1px;
    top: 70px;
    position: relative;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pro_img img{
    width: 90%;
}                                           





                                                    /* Profile texts */
.pro_text{
    bottom: 10px;
    top: 40px;
    position: relative;
    left: 40px;
    text-align: center;
}


.pro_text h3{
    color: #30303b;
    font-family: "Comfortaa", sans-serif;
    font-size: 25px;
    margin-top: 30px;
    
}
.pro_text h2{
    color: #30303b;
    font-family: "Comfortaa", sans-serif;
    margin-top: 30px;
}

.pro_text h1{
    margin: 20px;
    color: #30303b;
    font-family: "Comfortaa", sans-serif;
    font-size: 55px;
    margin-top: 30px;
}



                                                                /* Profile buttons */
.pro_text button{
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: 35px;
    border: 1px solid #30303b;
    border-radius: 25px;
    font-size: 15px;
    padding: 15px;
    background-color: white;
    font-family: "Comfortaa", sans-serif;
    color: #30303b;
    cursor: pointer;
    transition: all .2s ease
    
}

.pro_text button:hover{
    background-color: #30303b;
    color: #ffffff;
}



                                                            /* about */

            
.about{
    width: 100%;
    height: 100vh;
    background-color: #30303b;
    border-radius: 80%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.about_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
                                                            /* about title */
.title_white{
    text-align: center;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 35px;

}

.about_container h3{
    text-align: center;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 10px;
    padding: 10px;
    margin-top: 10px;
}



                                                        /* about content */

.ab_cont{
    width: 500px;
    height: 270px;
    border: white 3px solid;
    position: relative;
    border-radius: 40px;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease; 
    z-index: 2;
}

.ab_cont:hover{
    scale: 1.05;
}

                                    /* Education logo image */

.ab_cont img{
    position: relative;
    bottom: 50px;
    width: 7%;
}


                                        /* Education heading */
.ab_cont h1{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: normal;
    position: relative;
    bottom: 40px;
    letter-spacing: 2px;

}
.ab_cont h2{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    bottom: 20px;
    letter-spacing: 2px;
    padding: 5px;
}


                                /* About starting shape */

.shape{
    
   
    position: relative;
    top: 117px;
    height: 494px;
    width: 100%;
    background-color: rgb(29, 65, 98);
    background-color: #30303b;
    z-index: 1;
    display: flex;justify-content: center;
}


                                                    /* Explain */

.shape .explain{
   
    position: relative;
    top: 60px;
    text-align: justify;
    width: 800px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
}

                                                                /* project */

.project{
    position: relative;
    bottom: 5px;
    width: 100%;
    height: 550px;
    background-color: #30303b;
}


.pshape{
    position: relative;
    top: 310px;
    width: 100%;
    height: 600px;
    background-color: #30303b;
    border-radius: 90%;
    z-index: 1;
}


                                                        /* Project title */

.project .ptitle{
    position: relative;
    color: white;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    top: 70px;
    font-size: 35px;
    z-index: 4;
   
}

                                                    /* Project Container */

.project_container{
    width: 100%;
    height: 508px;
    position: absolute;
    background-color: #30303b;
    top: 139px ;
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}
                                                    /* Project divs */
.pro{
    width: 250px;
    height: 200px;
    background-color: #ffffff;
    position: relative;
    top: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
}
.pro1{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
    cursor: pointer;
}
.pro img{
    width: 100%;

    object-fit: cover;
}
.pro2 img{
    width: 120%;
}

.pro3 img{
    width: 130%;
}
.pro4 img{
    width: 120%;
}
.pro5 img{
    width: 120%;
}
.pro6 img{
    width: 120%;
}


                                                        /* Pro1 hover Div */

.p1info{
    position: absolute;
    background-color: #30303b98;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -100%;
    transition: all .2s ease;
   
}

.pro1:hover .p1info{
    top: 0;
}

                                                /* Pro1 hover Div content */

.p1info .p1h,.p1i{
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: justify;
    padding: 10px;
}
.p1info a{
    font-size: 10px;
    text-decoration: none;
    transition: all .2s ease;
}
.p1info a:hover{
    text-decoration: underline white;
    font-size: 13px;
   
}
.p1info .p1i{
    font-weight: normal;
    font-size: 10px;
}


                                                /* Skills */
                    
.skills{
    position: relative;
    top: 394px;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 7;
    
}

.skills_container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ski{
    width: 270px;
    height: 400px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
    transition: all .2s ease;
}

.ski:hover{
    scale: 1.04;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
}

.ski h1{
    font-family: "Poppins", sans-serif;
    color:rgba(0, 0, 0, 0.589);
    font-size: 20px;
    
}


.ski1 img{
    width: 90%;
}
.ski2 img{
    width: 90%;
}
.ski3 img{

    width: 80%;
    opacity: 80%;
}
.ski4 img{
    width: 80%;
    opacity: 60%;
}
.ski3 h1{
    position: relative;
    top: 20px;
}
.ski4 h1{
    position: relative;
    top: 20px;
}

.stitle{
    position: relative;
    color: #30303b;
    font-family: "Comfortaa", sans-serif;
    font-size: 35px;
    z-index: 12;
    top: 70px;
    text-align: center;

}


.contact{
    top: 394px;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color:#30303b;
    z-index: 13;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_container{
    width: 100%;
    height: 80%;
    display: flex;
   
    flex-direction: column;
    align-items: center;
}

.cont_title{
    position: relative;
    color: white;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    top: 70px;
    font-size: 35px;
    z-index: 15;
}

.cont_links{
    width: 400px;
    height: 300px;
    background-color: white;
    border: 2px solid #30303b;
    position: relative;
    top: 120px;
   
    border-radius: 50px;
    transition: all .2s ease;
}

.cont_links:hover{
    scale: 1.05;
}

.gmail_icon{
    width: 5%;
    background-color: white;
    border: 0.1px solid #30303b8c;
    border-radius: 90%;
    position: relative;
    left: 73px;
    top: 100px;

}

.mail_address{
    color: #30303b;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 13PX;
    position: relative;
    left: 105px;
    top:78px;
}

.linkedin{
    width: 5%;
    background-color: rgb(0, 0, 0);
    border-radius: 90%;
    position: relative;
    border: 0.4px solid #30303b;
    left:73px ;
    top: 110px;
}

.linkedin_link{
    color: #30303b;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 13PX;
    position: relative;
    top: 105px;
    left: 83px;
    
}

.phone{
    position: relative;
    width: 5%;
    top: 160px;
    right: 6px;
    border-radius: 50%;
    border: 0.4px solid #30303b;
}

.phone_number{
    color: #30303b;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #30303b;
    position: relative;
    top: 137px;
    left: 107px;
}

.footer{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 595px;
    display: flex;
    justify-content: center;
}

.footer a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 40px;

    transition: all .2s ease;
}

.footer a:hover{
    font-size: 20px;
}

.foo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 670px;
    background-color: white;
    border-radius: 50px;
}

@media screen and (max-width: 1024px){
    .ski{
        width: 170px;
        height: 240px;
  
    }
    .shape{
        top: 47px;
    }
    .pro{
        width: 200px;
        height: 200px;
    }

    .pro_text{
        width: 400px;
        height: 500px;
    }

    .pro_img{
        top: 20px;
        width: 250px;
        height: 250px;
    }
    .pro_text h3{
        font-size: 20px;
        margin-top: 25px;
        position: relative;
        top: 90px;
        
    }
    .pro_text h2{
        font-size: 20px;
        margin-top: 25px;
        position: relative;
        top: 90px;
    }
    
    .pro_text h1{
        position: relative;
        top: 90px;
        margin: 10px;
        font-size: 45px;
        margin-top: 25px;
    }

    .pro_text button{
        margin-left: 7px;
        margin-right: 7px;
        top: 125px;
        font-size: 10px;
        padding: 15px;
    }
                
    .about{
    width: 100%;
    height: 100vh;
    background-color: #30303b;
    border-radius: 80%;
    align-items: center;
    display: flex;
    justify-content: center;
    }

    label .menu_btn{
        display: block;
    }

    .nav ul{
        display: block;
        background-color:#fff;
        position: absolute;
        border: solid .01px #30303b4d;
        border-radius: 10px;
        top: 100px;
        left: -100%;
        width: 13%;

        height: 50vh;
        box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.137);
        z-index: 11;
        transition: all .5s ease-in-out;
    }

    #click:checked ~ ul{
        left: 0;
        
    }

    #click:checked ~ label .close_btn{
        display: block;
    }

    #click:checked ~ label .menu_btn{
        display: none;
    }



    .nav ul li a{
        position: relative;
        right: 40px;
        color: #30303b;
        margin-right: 80px;
        padding: 15px;
        
    }

    .nav ul li a:active{
        background-color: #e4e3e3;
    }

    .nav ul li{
        display: block;
        padding: 8px 12px;
        width: 12%;
        margin: 24px auto;
    }

    .nav{
        height: 100px;
    }

    /* about image */

    .ab_cont img{
        position: relative;
        bottom: 40px;
        width: 5%;
    }

    .ab_cont{
        width: 500px;
        height: 300px;
    }


    /* project img */

    .pro2 img{
        width: 140%;
    }
    
    .pro3 img{
        width: 155%;
    }
    .pro4 img{
        width: 150%;
    }
    .pro5 img{
        width: 150%;
    }
    .pro6 img{
        width: 150%;
    }


    /* Logo */

    .logo{
        font-size: 30px;
        position: relative;
        left: 100px;
    }


    /* project1 content div */

    .p1info{
        position: absolute;
        background-color: #30303b98;
        width: 210px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        transition: all .2s ease;
       
    }

    .contact{
        height: 130vh;
    }

    .skills_container{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}






@media screen and (max-width:426px){


   
  
    .shape{
        top: 47px;
    }
    .pro{
        width: 200px;
        height: 200px;
    }

    .pro_text{
        position: relative;
        right: 100px;
        width: 300px;
        height: 500px;
       
    }

    .pro_img{
        display: none;
    }
    .pro_text h3{
        font-size: 20px;
        margin-top: 25px;
        position: relative;
        top: 90px;
        right: 100px;
        
    }
    .pro_text h2{
        font-size: 20px;
        margin-top: 25px;
        position: relative;
        top: 90px;
        right: 100px;
    }
    .pro_text h1{
        position: relative;
        top: 90px;
        margin: 10px;
        font-size: 45px;
        margin-top: 25px;
        right: 100px;
    }

    .pro_text button{
        margin-left: 7px;
        margin-right: 7px;
        top: 125px;
        right: 100px;
        font-size: 10px;
        padding: 15px;
    }
                

    label .menu_btn{
        display: block;
    }

    .nav ul{
        display: block;
        background-color:#fff;
        position: absolute;
        border: solid .01px #30303b4d;
        border-radius: 10px;
        top: 100px;
        left: -100%;
        width: 25%;

        height: 50vh;
        box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.137);
        z-index: 11;
        transition: all .5s ease-in-out;
    }

    #click:checked ~ ul{
        left: 0;
        
    }

    #click:checked ~ label .close_btn{
        display: block;
    }

    #click:checked ~ label .menu_btn{
        display: none;
    }



    .nav ul li a{
        position: relative;
        right: 40px;
        color: #30303b;
        margin-right: 80px;
        padding: 15px;
        
    }

    .nav ul li a:active{
        background-color: #e4e3e3;
    }

    .nav ul li{
        display: block;
        padding: 8px 12px;
        width: 12%;
        margin: 24px auto;
    }

    .nav{
        height: 100px;
    }

    /* about image */

    .ab_cont img{
        position: relative;
        bottom: 20px;
        width: 6%;
    }

    .ab_cont{
        width: 300px;
        height: 200px;
    }

    .about{
        width: 100%;
        height: 100vh;
        background-color: #30303b;
        border-radius: 40%;
        align-items: center;
        display: flex;
        justify-content: center;
        }
    


    /* about text */


    .ab_cont h1{
        color: #ffffff;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        font-weight: normal;
        position: relative;
        bottom: 10px;
        letter-spacing: 2px;
    
    }
    .ab_cont h2{
        color: #ffffff;
        font-family: "Poppins", sans-serif;
        font-size: 10px;
        font-weight: normal;
        position: relative;
        top: 10px;
        letter-spacing: 2px;
        padding: 5px;
    }

    .about_container{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    


    /* project img */

    .pro2 img{
        width: 140%;
    }
    
    .pro3 img{
        width: 155%;
    }
    .pro4 img{
        width: 150%;
    }
    .pro5 img{
        width: 150%;
    }
    .pro6 img{
        width: 150%;
    }


    .project_container{
        width: 100%;
        height: 508px;
        position: absolute;
        background-color: #30303b;
        top: 139px ;
        z-index: 3;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
    }

    .pro{
        width: 150px;
        height: 150px;
        background-color: #ffffff;
        position: relative;
        top: 50px;
        margin-bottom: 20px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: auto;
    }

    .project{
        position: relative;
        top: 10px;
        bottom: 5px;
        width: 100%;
        height: 550px;
        background-color: #30303b;
    }

    .p1info{
        position: absolute;
        background-color: #30303b98;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: -100%;
        transition: all .2s ease;
       
    }

    .p1info .p1h{
        position: relative;
        bottom: 10px;
    }
    .p1info h3{
        width: 150px;
        position: relative;
        bottom: 27px;
        letter-spacing: -.7px;
    }

    .shape{
        position: relative;
        top: 117px;
        height: 494px;
        width: 100%;
        background-color: rgb(29, 65, 98);
        background-color: #30303b;
        z-index: 1;
        display: flex;justify-content: center;
    }

    .shape .explain{
        position: relative;
        top: 60px;
        text-align: justify;
        width: 800px;
        color: #ffffff;
        font-family: "Poppins", sans-serif;
        font-size: 11px;
        font-weight: 200;
        letter-spacing: 1px;
    }
    
    


    /* Logo */

    .logo{
        font-size: 30px;
        position: relative;
        left: 60px;
    }


    /* project1 content div */

    .p1info{
        position: absolute;
        background-color: #30303b98;
        width: 210px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        transition: all .2s ease;
       
    }

    .contact{
        height: 100vh;
    }

    .skills_container{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-evenly;
        align-items: center;
    }
    .skills{
        position: relative;
        top: 450px;
        width: 100%;
        height: 130vh;
        background-color: rgb(255, 255, 255);
        z-index: 7;
        
    }
    .ski{
        position: relative;
        top: 50px;
        width: 190px;
        height: 240px;
  
    }


    /* footer div */
    .footer{
        display: none;
    }


    /* pshape */

    .pshape{
        position: relative;
        top: 310px;
        width: 100%;
        height: 500px;
        background-color: #30303b;
        border-radius: 30%;
        z-index: 1;
        margin-bottom: 150px;
    }

    .title_white{
        font-size: 25px;
    }

    .ptitle{
        font-size: 25px;
    }
    .stitle{
        font-size: 25px;
    }
    .cont_title{
        font-size: 25px;
    }
}


@media screen and (max-width:356px){

    .cont_links{
        width: 300px;
        height: 300px;
        background-color: white;
        border: 2px solid #30303b;
        position: relative;
        top: 120px;
       
        border-radius: 50px;
        transition: all .2s ease;
    }

    .ski{
        position: relative;
        top: 50px;
        width: 160px;
        height: 240px;
  
    }
   
  
}
